.home-page {
    display: flex;
    flex-direction: row;
    width: 100vh;
    min-height: 100vh;
    height: auto;

}

.nav-bar {
    display: flex;
    flex-direction: column;
    width: 250px;
    min-height: auto;
    background-color: #1a1a1a;
    color: white;
}

.products-section {
    display: flex;
    flex-direction: column;

    /* bg  */
    background-color: #EEF2FF;
}

.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    min-width: 82vw;
    width: 90vw;
    height: 100%;
    padding-left: 20px;
}

.products-header {
    display: flex;
    font-size: 25px;
    margin-left: 30px;
    margin-top: 10px;
    align-items: center;
}