.nav-bar {
    display: flex;
    flex-direction: column;
    
    width: 18em;
    min-height: 100vh;
    height: 100%;
    padding: 5px;

    color: var(--zircon-50);

    /* bg gradient */
    background: linear-gradient(180deg, var(--zircon-500) 0%, var(--zircon-600) 100%);

    /* box shadow */
    box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.3);
}

.nav-bar-title {
    text-align: center;
    font-size: 30px;
    font-weight:700;
}

.nav-bar-subtitle {
    text-align: left;
    font-size: 20px;
}


.user-container {
    margin-top: 20px;
}

.user-image {
    border-radius: 50%;
    width: 35px;
    height: auto;
    margin: 0 5px 0 10px;
}

.user-title {
    display: inline;
    color: black;
    font: 200;
    font-size: larger;
}

.user-title:hover {
    color: black;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    input {
        width: 90%;
        height: 35px;
        border-radius: 5px;
        border: none;
        padding: 5px;
        margin: 5px 0 5px 0;

        background-color: var(--zircon-50);

        font-size: 15px;

        &:focus {
            outline: none;
        }
    }
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 4px solid rgba(0, 28, 33);
}

.categories {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
}   

.actions{
    align-items: flex-end;
}

.btn-create-product {
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--zircon-50);
    color: var(--zircon-950);
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    width: 90%;

    &:hover {
        background-color: var(--zircon-100);
    }
}