.main-container {
    display: flex;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    
    width: 21em;
    min-height: auto;
    padding: 5px;

    color: var(--zircon-50);

    /* bg gradient */
    background: linear-gradient(180deg, var(--zircon-600) 0%, var(--zircon-700) 100%);

    /* box shadow */
    box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.3);
}

.nav-bar-title {
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 400;
}


.user-container {
    margin-top: 20px;
}

.user-image {
    border-radius: 50%;
    width: 50px;
    height: auto;
    margin: 0 5px 0 10px;
}

.user-title {
    display: inline;
    color: black;
    font: 200;
    font-size: larger;
}

.user-title:hover {
    color: black;
}

.input {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 20px 0 0 0;
    border: 3px solid #000;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 4px solid rgba(0, 28, 33);
}

.categories {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
}   

.actions{
    align-items: flex-end;
}